html {
  height: 100%;
  width: 100%;
}
h1 {
  color:#326ecf !important;
}

h3 {text-decoration: underline;
   }

a {
  text-decoration: none;
  color: #64298c !important;
  }
a:hover{color:#3bb8d1;
       }

h4 { color: #f542b3 !important}

nav class {color:#3bafd9 !important }

h5 { color: #851ba6 !important}

body {
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}

h5 {font-family: sans-serif;}

#image1 {
  border: 5px solid #453c3c;
  border-radius: 5px;
}